{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<div class="titre-formation"><h1>{{ title }}</h1></div>

<div class="contain-register">
    {{ form_start(registrationForm) }}
    <div class="row">
        <div class="col" id="carethermes"> {{ form_row(registrationForm.username, {label: 'Nom d\'utilisateur'}) }} </div>
    </div>

    <div class="row">
        <div class="col" id="carethermes"> {{ form_row(registrationForm.email, {label: 'Email'}) }} </div>
    </div>

    <div class="row">
        <div class="col" id="carethermes"> {{ form_row(registrationForm.plainPassword, {label: 'Mot de passe'}) }} </div>
    </div>

    <div class="row">
        <div class="col"> {{ form_row(registrationForm.isVerified, {label: 'J\'acceptes les thermes'}) }}</div>
    </div>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}

