{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}

{% block body %}

<div class="titre-formation"><h1>{{ title }}</h1></div>

    <div class="container">
        <div class="row">
            <div class="col" id="reglage-buttons">
                    <button class="button" type="button"><span></span><a href="{{ url('app_formation') }}">Liste des formations</a></button>
            </div>
            <div class="col" id="reglage-buttons">
                    <button class="button" type="button"><span></span><a href="{{ url('app_home') }}">Acceuil</a></button>
            </div>
        </div>

        <div class="row rowgestion">
            <div class="col-12 col-lg-6">
                <div class="panneau-gauche">
                    <div class="border-gestion">
                        <h3><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5z"/>
                        </svg>Postulation recues :</h3>
                        <ul>
                            {% for n in novalidteatcher %}
                                <li> •  {{ n.username }}  ,  {{ n.email }}
                                </li>
                                <li><button class="button" type="button" id="button1"><span></span><a> Valider </a></button>
                                    <button class="button" type="button" id="button2"><span></span><a> Formulaire </a></button>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <img src="{{ asset('image/admin-pic2.png') }}" alt="Login picture" id="adminpicture"/>

                    <div class="border-gestion">
                        <h3><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5z"/>
                        </svg>Postulation Acceptées :</h3>
                        <ul>
                            {% for t in teatchervalide %}
                                <li> •  {{ t.username }}  ,  {{ t.email }} , <a href="#"> {{ t.name }} </a></li>
                            {% endfor %}
                        </ul>
                    </div>

                </div>
            </div>

            <div class="col-12 col-lg-6">
                <div class="panneau-droit">
                    <div class="border-gestion">
                        <h3><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5z"/>
                            </svg>Vous êtes connecté en temps que : </h3>
                            <ul>
                                <li> • Pseudonyme : {{ user.username }} </li>
                                <li> • Prénom d'utilisateur : {{ user.lastname }} </li>
                                <li> • Nom d'utilisateur : {{ user.name }} </li>
                                <li> • Email de l'utilisateur : {{ user.email }}</li>
                                <li> • Poste de l'utilisateur : Admin </li>
                            </ul>
                    </div>
                    <img src="{{ asset('image/admin-pic.png') }}" alt="Login picture 2" id="adminpicture2"/>

                    <div class="border-gestion">
                        <h3><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5z"/>
                            </svg>Statistiques de l'application </h3>
                            <ul>
                                <li> • Nombre de personnes inscrites : {{ count }} </li>
                                <li> • Nombre de professeurs : {{ countteatcher }} </li>
                                <li>  </li>
                            </ul>
                    </div>
                    <div class="border-gestion">
                        <h3><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5z"/>
                            </svg>Role d'un Administrateur </h3>
                        <p>Quel est le rôle juridique d'un administrateur ? Au sein du conseil d'administration, quand il existe, il doit effectivement contrôler les comptes,
                            informer les actionnaires, mais être aussi mandataire social et également participer à la stratégie de l'entreprise.
                        </p>
                    </div>
                    <div class="border-gestion">
                        <h3><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5z"/>
                            </svg>Compétences d'un Administrateur </h3>
                        <ul>
                            <li> •  Antécédents et expérience. ...</li>
                            <li> •  Intégrité et responsabilité ...</li>
                            <li> •  Connaissances. ..</li>
                            <li> •  Contribution. ...</li>
                            <li> •  Travail d'équipe. ...</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

