{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}

{% block body %}

    <div class="titre-formation"><h1>{{ title }}</h1></div>

    <div class="container">
        <div class="row rowgestion">
            <div class="col-12 col-lg-6">
                <div class="panneau-gauche">
                    <div class="border-gestion">
                        <h3><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5z"/>
                            </svg>Vous êtes connecté en temps que : </h3>
                        <ul>
                            <li> • Pseudonyme : {{ user.username }} </li>
                            <li> • Prénom d'utilisateur : {{ user.lastname }} </li>
                            <li> • Nom d'utilisateur : {{ user.name }} </li>
                            <li> • Email de l'utilisateur : {{ user.email }}</li>
                            <li> • Poste de l'utilisateur : Enseignant </li>
                        </ul>
                    </div>
                    <div class="border-gestion">
                        <h3><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5z"/>
                            </svg>Créer une Formation: </h3>
                            <p>Fécilitation pour vous être inscrit!<br>
                            Vous pouvez maintenant contribuer à ce site, en créant des formations ainsi que des sections : </p>
                        <ul>
                            <li> • Une formation possède au moins un titre</li>
                            <li> • Elle sera structurée grâce à des sections, et ces dernières regrouperont des leçons.</li>
                            <li> • Des ressources (images, pdf, etc.) peuvent être jointes à une leçon si besoin.</li>
                        </ul>
                        <button class="button" type="button"><span></span><a href="{{ url('app_createform') }}">Creation Formation</a></button>
                    </div>
                    <div class="border-gestion">
                        <h3><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5z"/>
                            </svg>Formations deja crées : </h3>
                        <ul>
                            <li>Poste de l'utilisateur : </li>
                            <li>Nom d'utilisateur : </li>
                            <li>Email de l'utilisateur : </li>
                            <li>Poste de l'utilisateur : </li><li>Poste de l'utilisateur : </li>
                            <li>Nom d'utilisateur : </li>
                            <li>Email de l'utilisateur : </li>
                            <li>Poste de l'utilisateur : </li>
                        </ul>
                    </div>
                 </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="panneau-droit">

                    <div class="border-gestion">
                        <h3><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5z"/>
                            </svg>Être Enseignant : </h3>
                            <p>L'enseignant, "grand communicateur" avec les élèves est aussi l'organisateur de la communication entre les élèves. Il reprend, reformule, répète mais aussi distribue
                                les rôles. Le maître apporte des informations, privilégie une démarche scientifique, insiste sur le rôle de l'expérience.</p>
                            <p>participer à la construction de la société en transmettant son savoir et en valorisant les compétences des élèves. Être enseignant offre la possibilité
                                de se renouveler chaque jour et d'être acteur d'un système éducatif en évolution.</p>
                            <p>Si vous désiez, dans le futur, en faire votre métier, et livrer votre savoir à des générations
                                plus jeune, vous devez obtenir le concours du Capes, Certificat d'Aptitude au Professorat de l'Enseignement du Second degré.</p>
                        <img src="{{ asset('image/teatcher.png') }}" alt="Defense acces page"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
